<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glance</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Nunito&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/highlight.css">
    <script src="/static/index.js"></script>
</head>

<body class="theme theme-light">
    <div class="code-wrapper">
        <code><table id="code"></table></code>
    </div>
</body>

</html>